
body {
	max-width: 60%;
	font-family: PT Sans;
	font-size: 18px;
	margin: 5em 20% 5em 20%;
	line-height: 1.5em;
}

h1 {
	text-align: center;
	font-weight: bold;
}

.highlight {
	color: #009926;
	font-weight: bold;
}

#sources {
	color: gray;
}

.smaller-box {
	margin: 2em 0 2em 3em;

}

sup {
	color: gray;
	font-size: 0.5em;
}


